* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1126px;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  line-height: 24px;
  padding: 11px 25px;
  border-radius: 4px;
  background-color: #ff9900;
}

.btn--outline {
  color: #173a56;
  border: 1px solid #bcd0e5;
  background-color: transparent;
  width: 130px;
  height: 47px;
}

.btn--large {
  padding: 15px 35px;
}

.boxes-container {
  display: flex;
}

.box {
  width: 100px;
  height: 200px;
  margin: 20px;
  background-color: yellow;
}

.box--big {
  flex: 1;
}

.features-section {
  display: flex;
  margin-top: 110px;
  align-items: center;
  flex-direction: column;
}

.features-section__title {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  max-width: 540px;
  text-align: center;
  color: #2f281e;
}

.features-section .btn {
  margin-top: 50px;
}

.features-list {
  display: flex;
  margin-top: 55px;
}

.features-list__item {
  width: 25%;
  display: flex;
  padding-right: 50px;
  flex-direction: column;
  align-items: flex-start;
}

.features-list__item h3 {
  font-size: 22px;
  font-weight: 600;
  color: #2f281e;
  line-height: 33px;
  margin-bottom: 15px;
}

.features-list__item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  /* or 162% */

  color: #544837;
}

.features-list__icon {
  display: flex;
  margin-bottom: 35px;
}

.block-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}
.block-section--reverse {
  flex-direction: row-reverse;
}

.block-section__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}
.block-section--reverse .block-section__text {
  margin-left: 100px;
  margin-right: 0px;
}

.block-section__name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  padding: 10px;
}

.block-section h3 {
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.block-section p {
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.block-list__item::before {
  margin-right: 20px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background: url(../images/Group\ 13.svg) no-repeat center;
}

.block-list__item {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.block-list__item p {
  flex: 1;
}

.favorite-section {
  width: 100%;
  margin: 20px 0;
}

.favorite-section__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.favorite-section__list {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.favorite-section__list li {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  border: 1px solid grey;
}

.all-section {
  width: 100%;
  margin: 20px 0;
}

.all-section__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.all-section__list {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(4, 2fr);
}

.all-section__list li {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  border: 1px solid grey;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal--hidden {
  display: none;
}

.modal__contents {
  background-color: white;

  width: 413px;
}

h3 {
  padding: 10px;
  border-bottom: 1px solid black;
}

form {
  padding: 10px;
  padding-left: 180px;
}

.modal__contents p {
  border-bottom: 1px solid black;
  padding: 18px;
}

.modal__close-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: -35px;
  cursor: pointer;
}
.modal__contents button {
  background-color: blue;
  border: none;
  color: white;

  cursor: pointer;
  width: 107px;
  height: 40px;
  border-radius: 5px;
}

.modal__contents button:last-child {
  background-color: grey;
  border: none;
  color: white;

  cursor: pointer;
  width: 107px;
  height: 40px;
  border-radius: 5px;
}
