.main-form {
  max-width: 500px;
  margin: 50px auto;
  width: 270px;
  color: white;
  font-size: 10px;
}

.main-form__field {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.main-form__field input {
  color: white;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  border-bottom: 2px solid black;
  transition: all 0.3s ease-in-out;
}
.main-form__field textarea {
  background: transparent;
}

.main-form__field input::placeholder {
  color: grey;
}

.main-form button {
  width: 100%;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background: transparent;
  background: #ff7f57;
  border-radius: 3px orange;
  color: white;
  padding: 15px;
}
